<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Хотелки</title>
    {#
        <link rel="stylesheet" href="./style.css" />
        <link rel="icon" href="./favicon.ico" type="image/x-icon" />
    #}
  </head>
  <body>
    <main>
      <div id='vk-auth-button'></div>
    </main>

    <script>
        window.appId = {{ vk_app_id }};
        window.authRedirectUrl = "{{ auth_redirect_url }}";
    </script>
    <script src="https://unpkg.com/@vkontakte/superappkit@1.57.0/dist/index-umd.js"></script>
    <script src="/static/registration.js"></script>
  </body>
</html>
